body {
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #cbeef3;
}

.container {
  text-align: center;
  background-color: #e0f7fa;
  border-radius: 30px;
  padding: 20px;
  max-width: 500px;
  width: 100%;
}

.login {
  text-decoration: none;
  color: black;
  font-size: 25px;
  font-family: 'Inria Serif', serif;
}

h1 {
  font-size: 40px;
  color: black;
  font-family: 'Inria Serif', serif;
}

.btn {
  display: block;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}
